#sticky.stick{
    position: fixed;
       top: 0;
    z-index: 10000;
    width: 100%;
    background-color: white;
}

#sticky.stick body nav{
    text-align: center;
}

#sticky.stick nav a{
 width: auto;
    text-decoration: none;
    margin-left: 20px;
    color: black;
    
}

#sticky.stick body nav a:hover{
    color: dimgray;
}

#sticky.stick nav{
    margin-bottom: 20px;
    margin-top: 20px;
}

#sticky h3{
    display: none;
}

#sticky.stick h3{
    display: block;
}

body nav
{
    text-align: center;
    }

body nav a
{
 width: auto;
    text-decoration: none;
    margin-left: 20px;
    color: black;
    }

body nav a:hover
{
    color: dimgray;
    }

nav 
{ 
    margin-bottom: 80px;
    margin-top: 90px;
    }

#content
{
    text-align: left;
    float: left;
    width: 45%;
    padding-right: 50px;
    display: block;
    height: auto;
    }
p{
    font-size: 13px;
}

#lf
{
    float: left;
    width: 35%;
    }

#lf img
{
    float: right;
    padding-right: 70px;
    }

#copyright
{
    float: right;
        width:35%;
    }

#social
{
    float: left;
    width: 25%;
    }

#social img
{
    float: right;
    }

#social img:hover
{
    opacity: 0.3;
        }

footer 
{ 
    margin-top: 100px;
    margin-bottom: 150px;
    }




video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover; 
}

@media screen and (max-device-width: 800px) {
    html {
         background: url(F5FAFF.png) #000 no-repeat center center fixed;
        background-color: #f5faff;
    }
    #bgvid {
        display: none;
    }
}